{% extends 'base.html.twig' %}

{% block title %}{{ "Arrazoia" |trans}}" {{ "aukerak" |trans}}{% endblock %}

{% block body %}

    

    <main role="main" class="container">
                 	
        <div class="card">
        
        <div class="card-body">
            <h5 class="card-title">"{{ "Arrazoia" |trans}}" {{ "aukerak" |trans}}</h5>
    
            
            
            {% for arrazoia in arrazoias %}
            <div class="row maila{{arrazoia.lvl}}">
                <div class="col">
                    <span class="label label-default">{{ arrazoia.mailaEu }}</span>
                </div>
                <div class="col">
                    <span class="label label-default">{{ arrazoia.mailaEs }}</span>
                </div>
                <div class="col-1">
                    <span class="label label-default">
                    <a href="{{ path('arrazoia_edit', {'id': arrazoia.id}) }}">{{ "Edit" |trans}}</a>
                    </span>
                </div>
            </div>
            {% else %}
                <span class="label label-default">
                    <td colspan="7">no records found</td>
                </span>
            {% endfor %}
            
            <div class="row">
                <div class="col">
                    <a href="{{ path('arrazoia_new') }}">{{ "berria" |trans}}</a>
                </div>
            </div>
        </div
    </main>

    
{% endblock %}
