

{{ form_start(form) }}

    <div class="row">
        <div class="col">
            
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-3">
            {{ form_label(form.egoera) }}
            {{ form_widget(form.egoera) }}
        </div>
    </div>
    
    <div class="row">
        <div class="col">
           
            <div class="card">
                                
                <div class="card-header eremu_buru" id="headingIzena">
                    {{ "000 Identifikazioa" |trans }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.izena) }}
                            {{ form_widget(form.izena) }}
                        </div>
                        <div class="col">
                            {{ form_label(form.abizena) }}
                            {{ form_widget(form.abizena) }}
                        </div>
                        <div class="col-1">
                            {{ form_label(form.dokumentu_mota) }}
                            {{ form_widget(form.dokumentu_mota) }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.dokumentu_zenbakia) }}
                            {{ form_widget(form.dokumentu_zenbakia) }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.jaiotze_data) }}
                            {{ form_widget(form.jaiotze_data)  }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.herria) }}
                            {{ form_widget(form.herria) }}
                        </div>
                        <div class="col-2">
                            {{ form_label(form.genero) }}
                            {{ form_widget(form.genero) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingNazionalitatea">
                    {{ form_label(form.nazionalitatea) }}
                </div>
                <div class="card-body">
                
                 <div id="beste_estatua1" class="estatua_optional" >
                    {{ form_row(form.estatua) }}
                </div>
  
                    <div class="accordion" id="accordionNazionalitatea">
                        <div class="card">
                            <div class="card-header" >
                                
                                    <button id="hbutNazionalitatea"  class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseNazionalitatea" aria-expanded="false">
                                    ---
                                    </button>

                            </div>

                            <div id="collapseNazionalitatea" class="collapse" aria-labelledby="headingNazionalitatea" data-parent="#accordionNazionalitatea">
                                <div class="card-body">
                                    {{ form_widget(form.nazionalitatea) }}
                                    
                                   
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingBizitokia">
                    {{ form_label(form.bizitokia) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.bizitokia) }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingBizikidetza">
                    {{ form_label(form.bizikidetza) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.bizikidetza) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingErrolda" >
                    {{ "Errolda egoera"|trans }}
                    {{ form_label(form.errolda) }}
                </div>
                <div class="card-body">
  
                    <div class="accordion" id="accordionErrolda">
                        <div class="card">
                            <div class="card-header">
                                
                                    <button id="hbutErrolda"  class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseErrolda" aria-expanded="false">
                                    ---
                                    </button>

                            </div>

                            <div id="collapseErrolda" class="collapse" aria-labelledby="headingErrolda" data-parent="#accordionErrolda">
                                <div class="card-body">
                                    {{ form_widget(form.errolda) }}
                                    
                                    <div id="errolda_data1" class="errolda_data" >
                                        {{ form_row(form.errolda_data) }}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingArrazoia" >
                    {{ "Pertsona erabiltzaileak duen eskaera eta hasierako beharren balorazioa: GZES, jarduera-eremu orokorrak"|trans }}
                    {{ form_label(form.arrazoia) }}
                </div>
                <div class="card-body">
  
                    <div class="accordion" id="accordionArrazoia">
                        <div class="card">
                            <div class="card-header">
                                
                                    <button id="hbutArrazoia"  class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseArrazoia" aria-expanded="false">
                                    ---
                                    </button>

                            </div>

                            <div id="collapseArrazoia" class="collapse" aria-labelledby="headingArrazoia" data-parent="#accordionArrazoia">
                                <div class="card-body">
                                    {{ form_widget(form.arrazoia) }}
                                    
                                    <div id="beste_arrazoia1" class="beste_arrazoia" >
                                        {{ form_row(form.beste_arrazoia) }}
                                    </div>
                                    <div id="beste_babeseza1" class="beste_babeseza" >
                                        {{ form_row(form.beste_babeseza) }}
                                    </div>
                                    <div id="beste_bazterkeria1" class="beste_bazterkeria" >
                                        {{ form_row(form.beste_bazterkeria) }}
                                    </div>
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
 
     <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingBalioespena" >
                    {{ form_label(form.balioespena) }}
                </div>
                <div class="card-body">
  
                    <div class="accordion" id="accordionBalioespena">
                        <div class="card">
                            <div class="card-header">
                                
                                    <button id="hbutBalioespena"  class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseBalioespena" aria-expanded="false">
                                    ---
                                    </button>

                            </div>

                            <div id="collapseBalioespena" class="collapse" aria-labelledby="headingBalioespena" data-parent="#accordionBalioespena">
                                <div class="card-body">
                                    {{ form_widget(form.balioespena) }}
                                    
                                    <div id="beste_balioespena1" class="beste_balioespena" >
                                        {{ form_row(form.beste_balioespena) }}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingGaitasuna">
                    {{ form_label(form.gaitasuna) }}
                </div>
                <div class="card-body">
                    {{ form_widget(form.gaitasuna) }}
                </div>
            </div>
        </div>
    </div>
 
 
 
 
 
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingEragilea" >
                    
                        {{"Harremanak izateko eta komunikatzeko oinarrizko abileziak"|trans}}
                    
                        {{ form_label(form.eragilea) }}
                    
                </div>
                <div class="card-body">
  
                    <div class="accordion" id="accordionEragilea">
                        <div class="card">
                            <div class="card-header">
                                
                                    <button id="hbutEragilea"  class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseEragilea" aria-expanded="false">
                                    ---
                                    </button>

                            </div>

                            <div id="collapseEragilea" class="collapse" aria-labelledby="headingEragilea" data-parent="#accordionEragilea">
                                <div class="card-body">
                                    
                                    <div class="row">
                                        {{ form_widget(form.eragilea) }}
                                    </div>
                                    
                                    
                                    <div id="beste_gaixotasun1" class="beste_gaixotasun" >
                                        {{ form_row(form.beste_gaixotasun) }}
                                    </div>
                                    
                                    <div id="beste_eragilea1" class="beste_eragilea" >
                                        {{ form_row(form.beste_eragile) }}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header eremu_buru" id="headingIzena">
                    {{ form_label(form.oharrak) }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ form_widget(form.oharrak) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    <div class="row">
        <div class="col">
            <a class="btn" href="{{ path('fitxak_index') }}">{{ 'Utzi' | trans }}</a>
        </div>
        <div class="col">
            <button id="save_button"  class="btn">{{ 'Gorde' |trans }}</button>
        </div>
    </div>  
    
{{ form_end(form) }}

 
