{% block user_content %}
<form action="{{ path("user_security_login_check") }}" method="post">
    <div class="container margin-top-13">
        <div class="row">
            <div class="container-fluid col-lg-5 col-md-5 p-3 border border-info rounded bg-light">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey | trans({}, 'user_bundle') }}</div>
                {% endif %}
                <div class="row">
                    <div class="col-lg mb-2">
                        <label for="username">{{ 'user.username'| trans({}, 'user_bundle') | capitalize }}</label>
                        <input class="form-control" type="text" id="username" name="username" value="{{ last_username }}" required="required" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg mb-2">
                        <label for="password">{{ 'user.password' | trans({}, 'user_bundle') | capitalize }}</label>
                        <input class="form-control" type="password" id="password" name="password" required="required" />
                    </div>
                </div>

					<div class="container-fluid">
						<div class="row">
							<div class="form-inline">
								<input class="form-inline" type="checkbox" id="remember_me" name="_remember_me"/>&nbsp;
								<label class="form-inline" for="remember_me">{{ 'security.login.remember_me'| trans({}, 'user_bundle') | capitalize}}</label>
							</div>
						</div>
					</div>

                <div class="row">
                    <div class="col-lg mb-2">
                        <div class="container-fuild col text-center">
                            <button type="submit" class="btn btn-primary">{{ 'btn.security.login.submit'| trans({}, 'user_bundle') | capitalize}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock user_content %}