{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{"Eskaera nondik datorren aukerak"|trans }}{% endblock %}


{% block body %}
    <main role="main" class="container">
        
        
        <div class="row">
            <div class="col">
            <span class="label label-primary label-bs "><h1>"{{ "Eskaera nondik dator" |trans}}" {{ "aukera" |trans}} </h1></span>
            </div>
        </div>
        
        
        
        <div class="row">
            <div class="col">
                {{ include('eragilea/_form.html.twig') }}
            </div>
        </div>
        <div class="row">
        
            <div class="col">
                <a href="{{ path('eragilea_index') }}">{{"Atzera"|trans}}</a>
            </div>
            <div class="col">
                {{ include('eragilea/_delete_form.html.twig') }}
            </div>
        
            
        </div>
        
    </main>
{% endblock %}
